<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kütüphane_uygulaması.Properties.Settings.kutuphaneGirisConnectionString"
            connectionString="Data Source=DESKTOP-ISU7V0R\SQLEXPRESS03;Initial Catalog=kutuphaneGiris;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>